<%= simple_form_for([@article, @article.comments.build]) do |f| %>
  <div class="w-100 mb-3">
      <%= f.input :content, input_html: { class: 'form-control' } %>
  </div>
  <%= f.button :submit, 'Leave a Reply', :class => 'btn btn-dark btn-sm px-3 mb-3' %>
<% end %>
