 //= require actiontext
 @import "bootstrap/scss/bootstrap";
 @import "bootstrap/scss/_functions.scss";
 @import "bootstrap/scss/_variables.scss";
 @import "bootstrap/scss/mixins/_breakpoints.scss";
 
 .card-columns {
   @include media-breakpoint-only(xs) {
     column-count: 1;
   }
   @include media-breakpoint-only(sm) {
     column-count: 2;
   }
   @include media-breakpoint-only(md) {
     column-count: 2;
   }
   @include media-breakpoint-only(lg) {
     column-count: 3;
   }
   @include media-breakpoint-only(xl) {
     column-count: 3;
   }
 }

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}
.blog-footer {
    border-top: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-weight: bold;
}

.jumbo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.myCarousel {
    overflow: hidden;
    height: 400px;
    width: auto;
    overflow: hidden;
  }