 @import "bootstrap/scss/bootstrap";

 .blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2rem;
    font-weight: bold;
}

.jumbo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.myCarousel {
    overflow: hidden;
    height: 400px;
    width: auto;
    overflow: hidden;
  }